*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Libre Baskerville', serif;
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg,black,gray);
}
header{
    height: 100px;
    background: linear-gradient(160deg,black,gray);
    display: flex;
    justify-content: space-around;
    align-items:center;
}
header nav ul{
    display: flex;
    list-style-type: none;
}
header nav ul a{
    text-decoration: none;
    padding: 0 20px;
    color: white;
    display: inline-block;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header nav ul a::after{
    content: '';
    display: block;
    width:0px;
    height:4px;
    background: rgb(1,216,237);
}
header nav ul a:hover::after{
    width:100%;
    transition:all 0.5s;
}
.hello img{
    padding: 10px;
    height: 110px;
    width: 150px;
    filter:drop-shadow(2px 2px 2px rgb(1,216,237));
    transition:all 0.5s;
}
main div img:hover{
    filter:drop-shadow(10px 10px 100px rgb(1,216,237));
    
}

main div h1{
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    filter:drop-shadow(2px 2px 2px rgb(1,216,237));
    transition:all 0.5s;
    color: white;
}
main div h2{
    font-size: 70px;
    filter:drop-shadow(2px 2px 2px rgb(1,216,237));
    transition:all 0.5s;
    color: white;
}
main div h1:hover{
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,0 0 15px #0073e6,
    0 0 8px #0073e6, 0 0 8px #0073e6;
}
main div h2:hover{
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,0 0 15px #0073e6,
    0 0 8px #0073e6, 0 0 8px #0073e6,
    0 0 5px #0073e6;
}
main div img{
    height: 650px;
    width: 550px;
    filter:drop-shadow(2px 2px 10px rgb(1,216,237));
    transition:all 0.5s;
}
